<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/13018/IdeaProjects/expediaFlightProj/RunExpediaFlightBooking.JAVA">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.expedia.com/"/>
        <parameter name="origin" value=" Was"/>
        <parameter name="destination" value=" Add" />


        <classes>
            <class name="expediaTest.RunExpediaFlightBooking"/>
        </classes>
    </test>
</suite>